.navbar
{
    height: 63px;
    border-bottom: 1px solid black;
    margin-top: 32px;
}
.navbar span
{
font-size: 26px;
font-weight: bold;
text-transform: capitalize;
float: left;
}
.navbar ul
{
    margin: 0px;
    padding: 0px;
    float: right;
    list-style: none;
}
.navbar ul li
{
display: inline;
margin-left: 20px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.navbar ul li a:hover
{
    color: red;
}